@tailwind base;
@tailwind components;
@tailwind utilities;



/* Hide scrollbar for webkit browsers */
.scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for other browsers */
  .scrollbar-hidden {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  